<app-nav></app-nav>
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="text-warning d-inline">Yello!</h1><small class="m-2">Get it? :D</small>
        </div>
        <div class="col-10 my-3 p-4">
            <p class="">I go by IllusionMan1212 online but everybody just calls me illusion. I'm a programmer and a software enthusiast, if it's anything to do with software, 
                I'm usually super excited about it.</p>
            <p class="my-4">
                A bit of a longer story about myself, I like to dabble in console emulation and low level programming. I've contributed to the only 
                functioning PSVita&trade; emulator <a class="text-orange" href="https://vita3k.org">Vita3K</a>. I've also created my own 
                chip-8 emulator that I never got around to open sourcing :p<br>
                I recently got into web development and I'm excited to make many projects revolving around it.<br>
                I also have an android app in progress that I've been wanting to create for a long time. I've created some sort of game projects as well.</p>
            <p class="">Anyway, I hope you'll find inspiration or at least usefulness in some of my projects and uhh have fun and all.</p>
        </div>
    </div>
    <div class="row divider mx-4 mx-auto"></div>
    <div class="row justify-content-center my-3">
        <div class="col-6 col-md-3">
            <a class="text-decoration-none d-flex justify-content-center" href="https://github.com/illusionman1212">
            <i class="fab fa-github fa-2x text-danger"></i>
            <p class="px-2">Github</p>
            </a>
        </div>
        <div class="col-6 col-md-3">
            <a class="text-decoration-none d-flex justify-content-center" href="https://discord.gg/qb3zPFY">
            <i class="fab fa-discord fa-2x text-info"></i>
            <p class="px-2">Discord</p>
            </a>
        </div>
        <div class="col-6 col-md-3">
            <a class="text-decoration-none d-flex justify-content-center" href="https://itch.io/profile/illusionman1212">
            <i class="fab fa-itch-io fa-2x text-warning"></i>
            <p class="px-2">Itch.io</p>
            </a>
        </div>
    </div>
</div>